#external {
 color: #FFFF00;
}
{
  font-family: "Verdana", sans-serif;
font-size: 20px;
}
h1 {
    font-size: 3rem;
}

#sub-header {
    text-transform: uppercase;
}

.text-green {
    background-color: #008000;
}

.border-blue {
    border: blue 2px solid;
}

img + ul {
    list-style: none;
}

section img {
    width: 20vh;
    height: 20vh;
    border-radius: 100px;
}

h4 ~ p {
    text-align: center;
}

section > ul > li {
    letter-spacing: 10px;
}